<!DOCTYPE html>
<html>
    <head>
        <title> Tech Policy Card Game </title>
	<link href="./printout.css" rel="stylesheet"/>
    </head>
    <body>
        {% for card in cards %}
	<div class="card-spacer">
          <div class="card-container {{card.is}}">
              <div class="card-title">{{ card.title }}</div>
              {% if card.is == 'action' %}
                  <div class="vertical-text">ACTION</div>
                  {% if card.artwork %}
                  <img height=250 width=250 src="{{card.artwork}}"/>
                  {% endif %}
                   <div class="card-description">
                   {{ card.description }} 
                   </div>
              {% elif card.is == 'goal' %}
                  <div class="vertical-text">GOAL</div>
                  {% if card.artwork %}
                  <img height=250 width=250 src="{{card.artwork}}"/>
                  {% endif %}
                  <div class="card-description">
                  <ul>
                      {% for keeper in card.keepers %}
                      <li> {{ keeper }} </li>
                      {% endfor %}
                  </ul>
                  </div>
              {% elif card.is == 'keeper' %}
                <div class="vertical-text">KEEPER</div>
                  {% if card.artwork %}
                  <img height=250 width=250 src="{{card.artwork}}"/>
                  {% endif %}
                <div class="card-description">
                  {{ card.description }} 
                </div>
              {% elif card.is == 'rule' %}
                <div class="vertical-text">RULE</div>
                  {% if card.artwork %}
                  <img height=250 width=250 src="{{card.artwork}}"/>
                  {% endif %}
                <div class="card-description">
                  {{ card.description }} 
                </div>
              {% endif %}
          </div>
	</div>
        {% endfor %}
    </body>
</html>
